# Ignore Git metadata
.git

# Ignore local Python caches
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/
.venv/

# Ignore IDE/editor configs
.vscode/
.idea/

# Ignore tox and pytest caches
.tox/
.pytest_cache/

# Exclude other local artifacts
.DS_Store

